html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Inter;
    padding: 0;
    margin: 0;
}

main {
    display: grid;
    height: 100vh;
    grid-template-areas:
        'header'
        'projects'
        'sidebar-right';
}

header {
    grid-area: header;
    padding: 1rem;
}

.sidebar {
    grid-area: sidebar;
    padding: 1rem;
    background-color: darkseagreen;
    display: none;
}

.projects {
    grid-area: projects;
    padding: 1rem;

    background-color: red;
}

.sidebar-right {
    grid-area: sidebar-right;
    padding: 1rem;

    background-color: lightblue;
    display: grid;
    gap: 1rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
    grid-gap: 1rem;
}

/* "only" - older browsers will ignore */
/* bootstrap breakpoints */
/* sm -> med */
@media only screen and (min-width: 576px) {
    main {
        grid-template-areas:
            'header header'
            'sidebar projects'
            'sidebar-right sidebar-right';
    }
    .sidebar {
        display: block;
    }
}

/* med -> ... */
@media only screen and (min-width: 768px) {
    main {
        grid-template-areas:
            'sidebar header header header header'
            'sidebar projects projects projects sidebar-right';
    }
    .container {
        
    }
}

/* large -> ... */
/* @media only screen and (min-width: 992px) {
    main {
        grid-template-areas:
            'sidebar header header header header'
            'sidebar projects projects projects sidebar-right';
    }
} */

.card {
    min-height: 100%;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #444;
    position: relative;
    top: 0;
    transition: all 0.1s ease-in;
}

.card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.card article {
    padding: 20px;
    display: flex;

    flex: 1;
    justify-content: space-between;
    flex-direction: column;
}

.card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
}

.card p {
    flex: 1;
    line-height: 1.4;
}

h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
}

.card span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 2em 0 0 0;
}
